<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
</head>

<body>
    <div class="contact-container">
        <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
            <div class="contact-left-title">
                <h2>Get in touch</h2>
                <hr>
            </div>
            
            {% for recipient in recipients %}
            <input type="hidden" name="access_key" value="{{ recipient.access_key }}">
            {% endfor %}

            <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
            <input type="email" name="email" placeholder="Your Email" class="contact-inputs" required>
            <input type="phone" name="phone" placeholder="Contact Number" class="contact-inputs" required>
            <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
            <button type="submit">Submit <img src="{{ url_for('static', filename='img/arrow_icon.png') }}"></button>
        </form>
        <div class="contact-right">
            <img src="{{ url_for('static', filename='img/right_img.png') }}">
        </div>
    </div>
</body>

</html>
